@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<p>Toplam Banka Bakiyesi: @ViewBag.TotalBalance ₺</p>
<p>Son Banka İşlemi: @ViewBag.LastProcess</p>
<p>Toplam Faturalar: @ViewBag.TotalBills ₺</p>
<p>Toplam Harcamalar: @ViewBag.TotalSpendings ₺</p>
