@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<p><strong>Toplam Banka Bakiyesi:</strong> @ViewBag.TotalBalance ₺</p>
<p><strong>Son Banka İşlemi:</strong> @ViewBag.LastProcess</p>
<p><strong>Toplam Faturalar:</strong> @ViewBag.TotalBills ₺</p>
<p><strong>Toplam Harcamalar:</strong> @ViewBag.TotalSpendings ₺</p>
